<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="{{navigate}}" (click)="cerrar()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div class="detail-title">
      {{producto.nombreProducto | uppercase}}
    </div>
    <div>
      <img src="{{producto.downloadURL}}" alt="" style="display: flex;width: 200px;height: 200px;margin: auto;">
    </div>
    <div class="info-prod">
      <ion-card style="width: 100%; text-align: center;border-radius: 0;background: #d3d3d352;">
        <p>{{producto.descripcionProducto | uppercase}}</p>
        <p>{{categoria.nombreCategoria}}</p>
        <p>{{categoria.descripcionCategoria | uppercase}}</p>
        <p>
          <label class="star-point" for="r1">★</label>
          <input class="input-star-point" type="radio" id="r1" [(ngModel)]="star" value="5">
          <label class="star-point" for="r2">★</label>
          <input class="input-star-point" type="radio" id="r2" [(ngModel)]="star" value="4">
          <label class="star-point" for="r3">★</label>
          <input class="input-star-point" type="radio" id="r3" [(ngModel)]="star" value="3">
          <label class="star-point" for="r4">★</label>
          <input class="input-star-point" type="radio" id="r4" [(ngModel)]="star" value="2">
          <label class="star-point" for="r5">★</label>
          <input class="input-star-point" type="radio" id="r5" [(ngModel)]="star" value="1">
        </p>
        <ion-button *ngIf="star" expand="block" (click)="test()" >Enviar calificacion</ion-button>
      </ion-card>
    </div>
    <ion-label padding>
      Primero selecciona una cantidad: <ion-label>{{cantidad}}</ion-label>
    </ion-label>
    <ion-label>
      <ion-range min="1" max="5" ticks="true" step="1" snaps="true" pin="true" mode="ios" [(ngModel)]="cantidad">
      </ion-range>
    </ion-label>
    <div class="precio-detalle">
      <ion-label style="align-self: center;">
        Precio: {{producto.precioProducto}} cada {{producto.pesoVentaProducto}} <ion-label *ngIf="cantidad"> x
          {{cantidad}} = {{producto.precioProducto * cantidad | currency}}</ion-label>
      </ion-label>
      <ion-icon name="cart" slot="end" class="icon-detalle" (click)="agregarACarrito()" *ngIf="cantidad"></ion-icon>
    </div>
    <div>
      <ion-card padding style="width: 100%; border-radius: 0; margin: 0; margin-top: 10px">
        <ion-card-subtitle>Acerca de</ion-card-subtitle>
        <p style="text-align: center">
          {{market.nombre_comercial | uppercase}}
        </p>
        <p>
          {{market.descripcion}}
        </p>
        <p>
          Direccion y telefonos:
        </p>
        {{market.direccion}}<br>
        {{market.telefono}}
      </ion-card>
    </div>
  </div>
</ion-content>