<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido a {{market.nombre_comercial}}</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-slides pager="true" [options]="slideOpts" style="height: 100%;width: 100%">
  <ion-slide class="slide-banner">
    <h1>{{market.nombre_comercial}}</h1>
    <div style="height: 40%;width: 100%">
      <ion-slides pager="false" [options]="slideOpts" style="height: 100%;width: 100%">
        <ion-slide class="w-100">
          <img class="w-100" src="../../../assets/flayer.png" alt="">
        </ion-slide>
        <ion-slide>
          <img class="w-100" src="../../../assets/flayer2.png" alt="">
        </ion-slide>
        <ion-slide>
          <img class="w-100" src="../../../assets/flayer.png" alt="">
        </ion-slide>
      </ion-slides>
    </div>
    <div id="map_canvas">

    </div>
    <ion-row>
      <ion-col size="12">
        <ion-list style="margin-top: 15px;">
          <ion-item>
            <ion-icon slot="end" name="logo-facebook"></ion-icon>
            <ion-label>Buscanos en Facebook</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon slot="end" name="logo-instagram"></ion-icon>
            <ion-label>Siguenos en Instagram</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-slide>
  <ion-slide class="slide-banner slide-producto">
    <h1>Productos</h1>
    <ion-row *ngFor="let producto of productosDeLaTienda; let i = index">
      <ion-card class="crd-flex">
        <ion-col size="2" class="imgDistri">
          <img src="{{producto.downloadURL}}">
        </ion-col>
        <ion-col>
          <div>
            <ion-label> <b>{{producto.nombreProductp}}</b> </ion-label>
            <p>{{producto.descripcionProducto}}</p>
            <p><small>Precio: {{producto.precioProducto}} x {{producto.pesoVentaProducto}}</small></p>
            <p><small>Disponible {{producto.cantidadProducto}} {{producto.pesoVentaProducto}}</small></p>
          </div>
        </ion-col>
        <ion-col size="2" slot="end" class="iconCar">
          <ion-icon name="cart" style="width:100%; height: 80%;"></ion-icon>
        </ion-col>
      </ion-card>
    </ion-row>
  </ion-slide>
  <ion-slide class="slide-banner">
    <h1>Promociones</h1>
    <ion-row>
      <ion-card>
        <ion-col size="2">

        </ion-col>
        <ion-col>

        </ion-col>
        <ion-col>

        </ion-col>
      </ion-card>
    </ion-row>
  </ion-slide>
</ion-slides>