<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="{{navigate}}" (click)="cerrar()"></ion-back-button>
    </ion-buttons>
    <ion-buttons *ngIf="listaRender.length > 0" slot="end" (click)="limpiarCarrito()" style="color:crimson; padding: 10px;">
      Vaciar carrito
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-title style="padding: 0;">
    <label *ngIf="listaRender.length == 0">No has agregado ningun producto</label>
  </ion-title>
  <ion-list *ngIf="listaRender.length > 0" >
    <ion-list-header>
      Tus productos
    </ion-list-header>
    <ion-item *ngFor="let producto of listaRender">
      <label>{{producto.nombreProducto | uppercase}}</label>
      <label for="" slot="end" > <ion-badge>{{producto.cantidadCompra}}u</ion-badge> {{producto.cantidadCompra * producto.precioProducto | currency}} </label>
      <ion-icon name="close" slot="end" style="color: red;border: 1px solid red;border-radius: 50%;" (click)="quitarProducto(producto.id)" ></ion-icon>
    </ion-item>
  </ion-list>
  <ion-footer *ngIf="listaRender.length > 0" >
    <ion-button color="success" expand="block" (click)="hacerCompra()"  >Hacer compra por <b style="margin:15px;">{{precioTotal | currency}}</b> </ion-button>
  </ion-footer>
</ion-content>