<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Categorias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row *ngFor="let categoria of categorias" (click)="entrarCategoria(categoria.id)" >
    <ion-card class="card-prod">
      <ion-col size="6" class="col-img-prod">
        <img src="{{categoria.downloadURL}}" alt="" class="img-prod">
      </ion-col>
      <ion-col>
        <div style="text-align: center;font-size: 15px;">
          <ion-label>
            <b>
              {{categoria.nombreCategoria | uppercase}}
            </b>
          </ion-label>
          <p><small style="font-size: 10px">Disponibilidad: {{categoria.descripcionCategoria}}</small></p>
        </div>
      </ion-col>
    </ion-card>
  </ion-row>
</ion-content>