<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12">
      <ion-card>
        <ion-card-header padding>
            <img src="../../../assets/EMlogopng.png" alt="">
          <ion-card-subtitle>Somos</ion-card-subtitle>
          <ion-card-title>Easy Market</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Nuestra mision es ser líderes en el servicio de delivery de productos de primera necesidad.
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row class="jcc">
    <ion-col size="6" class="tac ffm fz-xl">
      <ion-label class="lbl-integrantes">Integrantes</ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
      <ion-col size="12">
        <ion-card>
          <img src="https://firebasestorage.googleapis.com/v0/b/pagina-easy-market.appspot.com/o/integrantes%2Fgabriel.jpg?alt=media&token=852a240c-9866-4af1-b4a9-ce8a624156d3" alt="">
          <ion-card-header padding>
            <ion-card-subtitle>Soy</ion-card-subtitle>
            <ion-card-title>Gabriel Costta</ion-card-title>
          </ion-card-header>
          <ion-card-content>
              Futuro analista de sistemas, apasionado por la programacion,
              estudiante en el ITQ
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
</ion-content>
