<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Markets
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row *ngFor="let item of itemsList">
    <ion-card class="crd-flex">
    <ion-col size="2" class="imgDistri">
      <img src="{{item.downloadURL}}">
    </ion-col>
    <ion-col>
      <div>
        <ion-label> <b>{{item.nombre_comercial}}</b> </ion-label>
        <p>{{item.descripcion}}</p>
        <p><small>Direccion: {{item.direccion}}</small></p>
        <p><small>Telefono: {{item.telefono}}</small></p>
      </div>
    </ion-col>
    <ion-col size="2" style="align-self: center;" (click)="entrarTienda(item.id)" >
      <img src="https://firebasestorage.googleapis.com/v0/b/pagina-easy-market.appspot.com/o/assets%2Finiciar-la-sesion.svg?alt=media&token=e953733c-90f8-4a59-9091-2973a184f51b" alt="iniciar session" style="opacity: 0.50;">
    </ion-col>
  </ion-card>
  </ion-row>

  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>