<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/EMnombre.png"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Bienvenido a </ion-card-subtitle>
        <ion-card-title>Easy Market</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Date un recorrido por nuestras tiendas afiliadas, o mira todos los productos que tenemos en stock y empieza a comprar, fácil y sencillo</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
          <ion-label> Que quieres hacer ?</ion-label>
      </ion-list-header>
      <ion-item href="https://ionicframework.com/docs/">
        <ion-icon name="cart" color="medium" slot="start"></ion-icon>
        <ion-label>Empezar a comprar</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/building/scaffolding">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Ver categorías</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Recorrer tiendas </ion-label>
      </ion-item>
    </ion-list>
    <div id="map_canvas">
        <button ion-button>Demo</button>
      </div>
</ion-content>
