.header-registro {
  display: flex;
  justify-content: center;
  /* margin: 30px; */
  background-color: lightgray;
  padding: 10px;
}
.header-registro img {
  border-radius: 50%;
  border: 3px solid white;
  width: 70px;
  height: 70px;
}
.input-registro {
  border: 1px solid grey;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 7px;
  box-shadow: 4px 3px 8px -5px;
}
